@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');





.form{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.form{
    position: absolute;
    right: 0;
    padding-top:100px;
    padding-left:300px;
    top:140px;
    width: 80%;
    height: 80%;
    border-top:2px solid #a8a8a8;
   
   
    
    
    
     
  }
  .submit_cancel{
    display:flex;
    padding-right: 50px;
    padding-left:110px;
    
  }
  