.styled-table {
  border-collapse: collapse;
  margin-top: 50px;
  margin-left: 5% ;
  width: 80%;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #0F4CA8;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #0F4CA8;
}

.update, .delete{
  float: right;
  border: none;
  margin-left: 5px;
}
.update i, .delete i{
  font-size: 20px;
  color: black;
}

/* ax{
    text-decoration: none;
    position: absolute;
    margin-top: 400px;
   display: inline-block;
    padding: 8px 16px;
    border: 1px solid rgba(155, 155, 154, 0.43);
}
ax:hover{
    background-color: #ddd;
    color: black;
}
.previous {
    left: 200px;
    background-color: #FFFFFF;
    color: black;
    left: 720px;

  }
  .page {
    background-color: rgba(18, 129, 191, 0.91);;
    color: white;
    left: 810px;
  }
  
  .next {
    background-color: #FFFFFF;
    color: black;
    left: 850px;
  } */

/* @media screen and (max-width: 1000px) {
  
  ax{
    margin-top: 375px;
    padding:4px 10px;
  }
  .previous{
    left: 530px;
  }
  .page{
    left:605px;
  }
  .next{
    left: 635px;
  }
} */

@media screen and (max-width: 850px) { 
 
  /* ax{
    margin-top: 375px;
    padding:4px 10px;
  }
  .previous{
    left: 530px;
  }
  .page{
    left:605px;
  }
  .next{
    left: 635px;
  } */
  .styled-table {
    margin-left: auto ;
}

}

/* @media screen and (max-width: 450px) {
  
  ax{
    margin-top: 375px;
    padding:2px 8px;
  }
  .previous{
    left: 275px;
  }
  .page{
    left:345px;
  }
  .next{
    left: 370px;
  }
} */
